.container {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

h1 {
  margin-bottom: 30px;
}

.search-container {
  margin-bottom: 20px;
}

#gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
}

.image {
  position: relative;
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 95%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
}

.author {
  font-size: 14px;
  font-weight: bold;
}

.description {
  font-size: 12px;
}

.link {
  font-size: 12px;
  margin-top: 5px;
  color: #fff;
  text-decoration: underline;
  cursor: pointer;
}
